{% extends 'base.html' %}
{% load static %}
{% block title %}Личный кабинет | PintDaniyar{% endblock %}
{% block content %}

    <div class="jumbotron border-round-0 min-50vh" style="background-image:url({% static 'assets/img/400.png' %});">
    </div>
    <div class="container mb-4">
    	<img src="{% static 'assets/img/av.png' %}" class="mt-neg100 mb-4 rounded-circle" width="128">

    	<h1 class="font-weight-bold title">{{ username }}</h1>
    	<p>
    		I love Gay sex, Gay parties, Fisting Anal
    	</p>
    </div>
{% endblock %}